# Environment & secrets
.env
.env.*

# Local DB files
workouts.db

# Python virtual environment
venv/

# System files
__pycache__/
*.pyc
.DS_Store

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache